.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  background: $color-white;
  border-bottom: 1px solid #ececec;
}

.header__main {
  display: flex;
  min-width: 480px;

  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  height: 60px;

  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: $mobile) {
  .header__main {
    width: $mobile;
  }
}

@media (min-width: $tablet) {
  .header__main {
    width: $tablet;
  }
}

@media (min-width: $desktop) {
  .header__main {
    width: 1600px;
    height: 80px;
  }
}

.header__nav {
  display: flex;

  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.header__logo {
  margin-left: 15px;
  color: $color-click;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-studio {
  color: $color-black;
}

.site-nav {
  text-align: start;
  margin-top: 48px;
  margin-left: 40px;
  margin-bottom: 300px;
}

.site-nav__item {
  width: fit-content;
  position: relative;
}

.site-nav_link {
  display: block;
  margin-top: 32px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;

  color: $color-black;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav_link.current.site-nav_link::after {
  opacity: 1;
}

@media (min-width: $tablet) {
  .site-nav_link::after {
    position: absolute;
    display: flex;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    box-sizing: 4px;
    background-color: $color-click;
    opacity: 0;
  }
}

.site-nav .site-nav_link.current {
  color: $color-click;
}

.site-nav_link:hover,
.site-nav_link:focus {
  color: $color-click;
}

.site-nav_link,
.contacts__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-contacts {
  position: relative;
  text-align: start;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 40px;
}

.contacts + .contacts {
  margin-top: 32px;
}

.contacts__item {
  align-items: center;
  color: $color-secondary;
  text-decoration: none;
}

.contacts__item:hover,
.contacts__item:focus {
  color: $color-click;
}

.contacts__conv {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}
.contacts__mob {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}

.menu {
  margin: 0;
  margin-right: 15px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu .menu__close {
  display: none;
}

.menu.is-open .menu__close {
  display: block;
}

.menu.is-open .menu__icon {
  display: none;
}

.menu__icon {
  position: absolute;
}

.menu:hover {
  fill: $color-click;
}
@media (max-width: 767px) {
  .site {
    display: none;
    position: absolute;
    justify-items: start;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: $color-white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
  }
}

.site.is-open {
  display: block;
}

.contacts__item {
  color: $color-click;
}

.contacts__stile {
  color: $color-secondary;

  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
}
.social {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-left: 40px;
}
.social-menu {
  display: block;
  width: fit-content;
  margin-bottom: 50px;
}

.social-menu__link {
  display: block;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  height: 22px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: $color-click;
}

.social-menu__link:nth-child(4n) {
  margin-right: 0;
}

.social-menu__stile {
  border: none;
}
.social-menu__margin {
  margin-left: 0;
}
@media (max-width: 767px) {
  .hidden {
    display: none;
  }
}

@media (min-width: $tablet) {
  .menu,
  .social {
    display: none;
  }
}
