.heroes {
  background: $color-hefu;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media (min-width: 1200px) {
  .heroes {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.overlay {
  min-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/Header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: $mobile) {
  .overlay {
    width: $mobile;
  }
}

@media (min-width: $tablet) {
  .overlay {
    width: $tablet;
  }
}

@media (min-width: $desktop) {
  .overlay {
    justify-content: center;
    width: 1600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../image/Решения.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.hero {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.hero__countainer {
  text-align: center;
}

.hero__text {
  color: $color-white;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
}

.hero__button {
  text-decoration: none;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 0.5em 1em;
  outline: none;
  display: inline-block;
  min-width: 200px;

  color: $color-white;
  background: $color-click;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
:focus {
  color: $color-click;
  background: $color-white;
}

@media (min-width: $mobile) {
  .hero {
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    width: 360px;
  }

  .hero__countainer {
    text-align: center;
    width: 360px;
  }
}

@media (min-width: $desktop) {
  .heroes {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .hero {
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    width: 696px;
  }

  .hero__countainer {
    text-align: center;
    width: 696px;
  }

  .hero__text {
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}
